.div{
    
    width: 100vw;
    height: 92vh;
    overflow: hidden;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divSelect{
    
    display:flex;
    align-content: center;
    left: 50%;
    justify-content: center;
}

.select{
    display: flex;
    border: solid;
    border-radius: 0%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}