.App{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/950223-digital-art-artwork-TV-TV-Series-Adult-Swim-Rick-and-Morty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tw Cen MT, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;  
}

span{
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 50%;
    color: rgb(178, 13, 13);
    font-size: medium;
    text-align: center;
  }

