.image{
    box-sizing: 50%,25%;
    border-radius: 50%;
  }
.conteiner{
    
    display: flex;
    flex-direction: rox;
    justify-content:space-evenly;
    width: 100vp;
}

.divText{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.p{
    
    display: inline-flex;
    width: 50%;
    align-self: auto;
}